body
{
	font-weight:bold;
	color:black;
	font-size:20px;
	
}
dialog.rate1
{
	border-color:black;
	background-color:black;
	color:white;
	margin-left:44px;
	font-size:30;
}
dialog.rate2
{
	margin-left:50px;
}
dialog.rate3
{
	margin-left:450px;
}
p
{
	margin-left:200px;
	font-size:24px;
}
nav
{
	word-spacing:120px;
	font-size:24px;
}

